@import "susy"

body
  font-family: arial,helvetica,sans-serif
  font-weight: normal
.line
  clear: both
  margin: 25px 0px 25px 0px
  display: block

#container
  @include container
  display: inline
  #account-list
    @include span-columns(4,12)
  #transaction-list
    @include span-columns(8 omega,12)
