%table
  %tr
    %th Name
    %th Tags
    %th Account
    %th Transaction Time
    %th Balance
  = render 'transactions/rows'
-if @presenter.has_next_page?
  =link_to "Load more...", transactions_path
