#account-balance
  All Accounts Balance:
  =@presenter.formatted_balance
.line
#container
  #account-list
    Accounts:
    %ul
      - @presenter.each_account do |account|
        %li="#{account.name} ( #{account.formatted_balance} )"
  #transaction-list
    Loading Transactions...
